<p><a href="/">Home</a></p>
<% if(!user_id) { %>
  <h3><a href="/register">Register for an account here</a></h3>
<% } else { %>
  <h2>Logged in as: <%= email %></h2>
  <form method=POST action="/logout">
  <input type="submit" name="logout" value="logout" />
  </form>
<% } %>

