<p><h3><a href="/">Home</a></h3></p>
<% if(!user_id) { %>
  <h3><a href="/register">Register for an account here</a></h3>
<% } else { %>
  <h3>Logged in as: <%= email %></h3>
  <form method=POST action="/logout">
  <input type="submit" name="logout" value="logout" />
  </form>
<% } %>

