<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">

  <% include partials/_css_scripts.ejs %>

  <body style="padding:50px;">
    <% include partials/_header.ejs %>
    <h1> ShortURL: <%= shortURL %> </h1>
    <p></p>
    <% url = "/urls/" + shortURL + "?_method=PUT"; %>
    <form method="POST" action="<%= url %>">
    <input name="newUrl" value="<%= longURL %>" /><button> Update </button><br></form>
  </body>
</html>
