<!-- views/urls_home.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_css_scripts.ejs %>
  </head>

  <body class="container" style="padding:50px;"> 

      <% include partials/_header.ejs %>

    <div class="jumbotron">
    <h1>Welcome to TinyApp!</h1>
    <p></p>
    
    <% if(!user_id) { %>
        <h3><a href="/login">Log in</a></h3>
    <% } else { %>
        <h3><a href="/urls/new">Create a shortened URL</a></h3>
        <h3><a href="/urls">See your shortened URLs</a></h3>
    <% } %>

    </div>
  </body>
</html>
