<!-- views/urls_home.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include partials/_css_scripts.ejs %>

<body> 
  <header> 
    <% include partials/_header.ejs %>
  </header>
  <h1>Welcome to TinyApp!</h1>
  <p></p>
  <% if(!user_id) { %>
    <h3><a href="/login">Log in</a></h3>
  <% } else { %>
  <h3><a href="/urls/new">Create a shortened URL</a></h3>
  <h3><a href="/urls">See your shortened URLs</a></h3>
  <% } %>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>
